[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "config/.config/base16-shell"]
	path = config/.config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "tmux/.tmux-themepack"]
	path = tmux/.tmux-themepack
	url = git@github.com:jimeh/tmux-themepack.git
