[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "config/.config/base16-shell"]
	path = config/.config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "tmux/.tmux-themepack"]
	path = tmux/.tmux-themepack
	url = git@github.com:jimeh/tmux-themepack.git
[submodule "config/.polybar-spotify"]
	path = config/.polybar-spotify
	url = git@github.com:Jvanrhijn/polybar-spotify.git
[submodule "tools/.tools/i3-ratiosplit"]
	path = tools/.tools/i3-ratiosplit
	url = git@github.com:333fred/i3-ratiosplit.git
[submodule "zsh/.prezto-contrib"]
	path = zsh/.prezto-contrib
	url = git@github.com:belak/prezto-contrib.git
[submodule "zsh/.modules/vi-mode/zsh-vi-mode"]
	path = zsh/.modules/vi-mode/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode.git
[submodule "tools/.tools/roslynpad"]
	path = tools/.tools/roslynpad
	url = git@github.com:roslynpad/roslynpad.git
[submodule "tools/.tools/rofi-calc"]
	path = tools/.tools/rofi-calc
	url = git@github.com:svenstaro/rofi-calc.git
[submodule "tools/.tools/vmware-host-modules"]
	path = tools/.tools/vmware-host-modules
	url = https://github.com/mkubecek/vmware-host-modules
[submodule "zsh/.modules/zsh-vi-mode"]
	path = zsh/.modules/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode.git
[submodule "config/.config/polybar/zscroll"]
	path = config/.config/polybar/zscroll
	url = git@github.com:noctuid/zscroll.git
[submodule "config/.config/polybar/polybar-spotify"]
	path = config/.config/polybar/polybar-spotify
	url = git@github.com:PrayagS/polybar-spotify.git
